.app-container { 
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register {

  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 8px;
  align-items: center;
}

.register h1{
  font-size: 50px;
  margin-top: 20px;
}

.register-input {
  border-radius: 10px;
  width: 500px;
  height: 35px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  border: 2px solid #000;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register-button {
  border-radius: 8px;
  width: 150px;
  height: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  color: #fff;
  border: 1px solid #a4a4a4;
  transition: all 0.2s ease-in-out;
  background: rgb(140,90,255);
  background: linear-gradient(261deg, rgba(140,90,255,1) 0%, rgba(255,160,243,1) 100%);
}

.register-button:hover {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0.01em 0.25em rgba(255,160,243,1);
  transform: scale(1.1);
  border: none;
}

.register input{
  padding-left: 10px;
}